<%- include('navbar') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Basket</title>
</head>
<body>
    <h1>Your Basket</h1>

    <div class="basket-form">
        <% basket.items.forEach(item => { %>
            <h2><%= item.product.name %></h2>
            <p>
                Quantity: <%= item.quantity %>
                <br>
                Price: €<%= item.product.price * item.quantity %>
            </p>
            <form action="/remove-from-basket" method="POST">
                <input type="hidden" name="productId" value="<%= item.product._id %>">
                <button type="submit">Remove</button>
            </form>
        <% }); %>
        <p>Total Price: €<%= totalPrice %></p>
        <br>
        <form action="/empty-basket" method="POST">
            <button type="submit">Empty Basket</button>
        </form>
        <br><br>
        <form action="/checkout" method="GET">
            <button type="submit">Continue to Checkout</button>
        </form>
    </div>
</body>
</html>
